<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Navegador1" value="https://www.google.com.ar"/>
		<add key="Navegador2" value="https://www.google.com.ar"/>
		<add key="Navegador3" value="https://www.google.com.ar"/>
		<add key="Navegador4" value="https://www.google.com.ar"/>
		<add key="Navegador5" value="https://www.google.com.ar"/>
		<add key="Navegador6" value="https://www.google.com.ar"/>
	</appSettings>
</configuration>